

{{ template "header" . }}
<!-- Main -->
<main class="container">
  <article class="grid">
    <div></div>
    <div>
      <hgroup>
        <h1>Create User</h1>
        <p>E.M.R.S New User</p>
      </hgroup>
      <form action="/create/user" method="post">
        <input
          type="text"
          name="username"
          placeholder="username"
          aria-label="New Username"
          autocomplete="username"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          aria-label="Password"
          autocomplete="current-password"
          required
        />
        <button type="submit" class="contrast">Login</button>
      </form>
      {{if .PrevAttempt }}
        <b> Invalid </b> Credentials
      {{end}}
    </div>
    <div></div>
  </article>
</main>
<!-- ./ Main -->
{{ template "footer" . }}
