icons8-bug-100.png filter=lfs diff=lfs merge=lfs -text
icons8-error-100.png filter=lfs diff=lfs merge=lfs -text
icons8-export-100.png filter=lfs diff=lfs merge=lfs -text
icons8-plugin-100.png filter=lfs diff=lfs merge=lfs -text
icons8-view-details-100.png filter=lfs diff=lfs merge=lfs -text
icons8-code-fork-100.png filter=lfs diff=lfs merge=lfs -text
icons8-close-100.png filter=lfs diff=lfs merge=lfs -text
icons8-gear-100.png filter=lfs diff=lfs merge=lfs -text
icons8-info-100.png filter=lfs diff=lfs merge=lfs -text
icons8-import-100.png filter=lfs diff=lfs merge=lfs -text
icons8-logout-100.png filter=lfs diff=lfs merge=lfs -text
icons8-notification-100.png filter=lfs diff=lfs merge=lfs -text
icons8-outgoing-data-100.png filter=lfs diff=lfs merge=lfs -text
icons8-add-100.png filter=lfs diff=lfs merge=lfs -text
icons8-box-important-100.png filter=lfs diff=lfs merge=lfs -text
icons8-list-100.png filter=lfs diff=lfs merge=lfs -text
icons8-save-as-100.png filter=lfs diff=lfs merge=lfs -text
icons8-source-code-100.png filter=lfs diff=lfs merge=lfs -text
icons8-tools-100.png filter=lfs diff=lfs merge=lfs -text
icons8-database-administrator-100.png filter=lfs diff=lfs merge=lfs -text
icons8-done-100.png filter=lfs diff=lfs merge=lfs -text
icons8-module-100.png filter=lfs diff=lfs merge=lfs -text
icons8-workflow-100.png filter=lfs diff=lfs merge=lfs -text
icons8-console-100.png filter=lfs diff=lfs merge=lfs -text
icons8-help-100.png filter=lfs diff=lfs merge=lfs -text
icons8-menu-100.png filter=lfs diff=lfs merge=lfs -text
icons8-password-100.png filter=lfs diff=lfs merge=lfs -text
icons8-remove-100.png filter=lfs diff=lfs merge=lfs -text
icons8-statistics-100.png filter=lfs diff=lfs merge=lfs -text
icons8-test-account-100.png filter=lfs diff=lfs merge=lfs -text
