<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>

<body>

<style>

.boxed {
  border-style: solid;
  border-color: black;
  border-width: thin;
  padding: 10;
}

</style>

<div class="container">

  <div class="row">
    <div class="column boxed">.column</div>
    <div class="column">.column</div>
    <div class="column">

<button class="button button-clear">Clear Button</button>
      </div>
    <div class="column">.column</div>
  </div>

  <div class="row">
    <div class="column">.column</div>
    <div class="column column-50 column-offset-25">.column column-50 column-offset-25</div>
  </div>

</div>
</body>

</html>
